<section data-ng-controller="AdminController">
	<div class="row">
		<div class="k-content">
			<div class="col-md-8">
				Some content goes here
			</div>
			<div class="col-sm-4">
				<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<span class="visible-xs navbar-brand">Sidebar menu</span>
						</div>
						<div class="navbar-collapse collapse sidebar-navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">Menu Item 1</a></li>
								<li><a href="#">Menu Item 2</a></li>
								<li><a href="#">Menu Item 3</a></li>
								<li><a href="#">Menu Item 4</a></li>
								<li><a href="#">Reviews</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>