<section data-ng-controller="AdminController">
	<div class="row">
		<div class="k-content">
			<!-- main content -->
			<div class="col-md-8">
				Some content goes here
			</div>
			<!-- control bar -->
			<div class="col-sm-4">
				<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">
						<div class="navbar-collapse collapse sidebar-navbar-collapse">
							<ul class="nav navbar-nav">
								<li ng-repeat="page in pages"><a href="#">{{page.id}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>