<section data-ng-controller="AdminController">
	<div class="row">
		<div class="k-content">
			<!-- control bar -->
			<div class="col-md-3">
				<tabset vertical="true" type="pills">
					<tab ng-repeat="page in pages" ng-click="changeSelected(page)" heading="{{page.title}}" style="cursor: pointer"></tab>
				</tabset>
			</div>
			<!-- main content -->
			<div class="col-md-9">
				<div class="list-group">
					<a data-ng-repeat="item in items" class="list-group-item clearfix">
						{{item.title}}
						<span class="pull-right">
							<button class="btn btn-sm" data-ng-click="edit(item);">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<button class="btn btn-sm" data-ng-click="remove(item);">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>