<div data-ng-controller="HomeController">
	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
				<h1>Wellcome to Kleo home</h1>
				<p>
					Too see development information, go to our <a href="/#!/dev">dev's</a> page
				</p>
			</div>
			<div data-ng-controller="ArticlesController" data-ng-init="find()">
				<article-list items="articles"></article-list>
				<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
					No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div style="margin-top: 150px"></div>
			<div class="list-group">
				<a class="list-group-item">Right panel</a>
			</div>
		</div>
	</div>
</div>