@font-face {
    font-family: 'exo_2.0regular';
    src: url('fonts/Exo2.0-Regular-webfont.eot');
    src: url('fonts/Exo2.0-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Exo2.0-Regular-webfont.woff') format('woff'),
         url('fonts/Exo2.0-Regular-webfont.ttf') format('truetype'),
         url('fonts/Exo2.0-Regular-webfont.svg#exo_2.0regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2.0extra_light';
    src: url('fonts/Exo2.0-ExtraLight-webfont.eot');
    src: url('fonts/Exo2.0-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Exo2.0-ExtraLight-webfont.woff') format('woff'),
    url('fonts/Exo2.0-ExtraLight-webfont.ttf') format('truetype'),
    url('fonts/Exo2.0-ExtraLight-webfont.svg#exo_2.0extra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
    url('fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
    url('fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

