<div class="profile-content">
    <div class="row">
        <div class="col-md-9">
            <!--CONTENT START-->
            <div class="row">
                <div class="col-md-4 profile-content-name" >First Name</div>
                <div class="col-md-8 profile-content-value" ng-bind="user.firstName"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4 profile-content-name">Last Name</div>
                <div class="col-md-8 profile-content-value" ng-bind="user.lastName"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4 profile-content-name">Email</div>
                <div class="col-md-8 profile-content-value" ng-bind="user.email"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4 profile-content-name">Provider</div>
                <div class="col-md-8 profile-content-value" ng-bind="user.provider"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4 profile-content-name">Created</div>
                <div class="col-md-8 profile-content-value" ng-bind="user.created"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4 profile-content-name">Roles</div>
                <div class="col-md-8 profile-content-value" ng-bind="user.roles"></div>
            </div>
            <hr/>
            <!--EDIT OR DELETE-->
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <a class="btn btn-primary btn-placement" ui-sref="users.edit({userId: user._id})">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary btn-placement" ng-click="remove();" ng-if="user._id !== authentication.user._id">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>