<section ng-controller="PostsController" ng-init="findOne()">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h1 ng-bind="post.title"></h1>
        <kui-post-details post="post"></kui-post-details>
        <kui-dropdown title="'Options'" items="options" class="pull-right" ng-if="(authentication.isAdmin()) || (authentication.hasAccess(post.user._id))"></kui-dropdown>
      </div>

      <p class="lead" ng-bind-html="post.content"></p>
      <small ng-if="post.tags.length">Tags:
        <span class="tag" ng-repeat="tag in post.tags"> <a>{{tag.name}}</a> </span>
      </small>
    </div>
  </div>
</section>