<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 footer-map">
          <a href="#" class="btn footer-map-btn">MAP SITE LINK1</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK2</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK3</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK4</a>
        </div>
        <div class="col-md-3 footer-map">
          <a href="#" class="btn footer-map-btn">MAP SITE LINK5</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK6</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK7</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK8</a>
        </div>
        <div class="col-md-3 footer-map">
          <a href="#" class="btn footer-map-btn">MAP SITE LINK9</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK10</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK11</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK12</a>
        </div>
        <div class="col-md-3 footer-map">
          <a href="#" class="btn footer-map-btn">MAP SITE LINK13</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK14</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK15</a>
          <a href="#" class="btn footer-map-btn">MAP SITE LINK16</a>
        </div>
      </div>
      <div class="row copyright">
         Copyright 2015-2016 © Kleo CMS
      </div>
    </div>
  </div>
</div>