<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">Lorem ipsum dolor sit amet.</div>
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, saepe!</div>
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur dignissimos eaque fuga, nulla voluptates?</div>
      </div>
      <div class="row copyright">
        asdas;l kas dl;asd asdasd
      </div>
    </div>
  </div>
</div>