<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--<a ui-sref="home" class="navbar-brand">Main</a>-->
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li dropdown>
        <a class="dropdown-toggle" dropdown-toggle role="button" data-toggle="dropdown">
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu dropdown-box" role="menu">
            <li>
                <div class="navbar-content">
                    <div class="row">
                        <div class="col-md-5">
                            <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="dropdown-image img-responsive"/>
                            <p class="text-center small">
                                <a href="#">Change Photo</a></p>
                        </div>
                        <div class="col-md-7">
                            <span ng-bind="authentication.user.displayName"></span>
                            <div class="divider">
                            </div>
                            <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-footer">
                    <div class="navbar-footer-content">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-default btn-sm">Change Passowrd</a>
                            </div>
                            <div class="col-md-6">
                                <a href="http://www.jquery2dotnet.com" class="btn btn-default btn-sm pull-right">Sign Out</a>
                            </div>
                        </div>
                    </div>
                </div>


            <!--    <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="dropdown-image"/>
                <span ng-bind="authentication.user.displayName" class="col-md-7" ></span>
                <div class="divider"></div>
                <a ui-sref="users.view({userId: authentication.user._id})">
                    <i class="glyphicon glyphicon-eye-open nav-icon-btn"></i>
                    View Profile
                </a>
                <a ui-sref="posts.create">
                    <i class="glyphicon glyphicon-plus nav-icon-btn"></i>
                    Create Post
                </a>
                <a ui-sref="settings.profile">
                    <i class="glyphicon glyphicon-pencil nav-icon-btn"></i>
                    Edit Profile
                </a>

                <div class="divider"></div>
                <a href="/api/auth/signout" target="_self">
                    <i class="glyphicon glyphicon-log-out nav-icon-btn"></i>
                    Sign Out
                    </a>
                    -->
            </li>
        </ul>
      </li>
    </ul>

    <!--<input type="text" autocomplete
           ng-model="searchQuery"
           placeholder="Type to search..."
           typeahead="address for address in getLocations($viewValue)"
           typeahead-template-url="customTemplate"
           class="search form-control navbar-right"
           typeahead-focus-first="true" >

    <script type="text/ng-template" id="customTemplate">
      <a href="/posts">
        <span ng-bind-html="match.label | typeaheadHighlight:query"></span>
      </a>
    </script> -->
  </nav>
</div>
