<div data-ng-controller="HomeController">
  <!-- in future, will be replaced with page brief info, or banner -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-header" style="margin-top: 10px">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
            <!--<h1>Welcome to Kleo home</h1>
            <p>
              Too see development information, go to our <a class="link" ui-sref="dev">dev's</a> page
            </p> -->
            <img src="modules/core/client/img/logo-xs.png">
          </div>
          <div class="col-md-5 hidden-xs hidden-sm">
            <div class="row" style="font-family: 'Book Antiqua'">
              <h3 style="margin-top: 15px; font-weight: bold">CHERNIHIV NATIONAL</h3>
              <h3 style="margin-top: 10px; font-weight: bold">UNIVERSITY OF TECHNOLOGY</h3>
            </div>
          </div>
          <div class="col-md-5 col-sm-9 col-xs-8">
            <div class="row">
              <div style="padding-left: 8px">
                <div style="display: inline-block">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-list-alt"></span>
                  </button>
                  <div class="btn-text-center">
                    List
                  </div>
                </div>
                <div style="display: inline-block">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-heart"></span>
                  </button>
                  <div class="btn-text-center">
                    Favourite
                  </div>
                </div>
                <div style="display: inline-block">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-book"></span>
                  </button>
                  <div class="btn-text-center">
                    Books
                  </div>
                </div>
                <div style="display: inline-block">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-barcode"></span>
                  </button>
                  <div class="btn-text-center">
                    Data
                  </div>
                </div>
                <div style="display: inline-block">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-folder-open"></span>
                  </button>
                  <div class="btn-text-center">
                    Files
                  </div>
                </div>
                <div style="display: inline-block">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-bell"></span>
                  </button>
                  <div class="btn-text-center">
                    Notifications
                  </div>
                </div>
              </div>
              <!--<div class="btn-container">
                <div class="main-btn">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-list-alt"></span>
                  </button>
                </div>
                <div class="main-btn">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-heart"></span>
                  </button>
                </div>
                <div class="main-btn">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-book"></span>
                  </button>
                </div>
                <div class="main-btn">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-folder-open"></span>
                  </button>
                </div>
                <div class="main-btn">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </button>
                </div>
                <div class="main-btn">
                  <button class="btn btn-default btn-lg main-btn">
                    <span class="glyphicon glyphicon-bell"></span>
                  </button>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-subdomain-container">
    <div class="navbar navbar-inverse navbar-subdomain" role="navigation" data-offset-top="120" bs-affix>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse subdomain-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">CS.STU</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Articles</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <ul class="nav nav-tabs">
        <li role="presentation" ng-repeat="item in postTypes" ng-class="{'active': item.active}" ><a href="#" ng-click="setSelected(item)" data-toogle="tab">{{item.title}}</a></li>
      </ul>
      <div class="news-panel">
        <posts-list items="posts" filter="selectedPostType"></posts-list>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Announcements</h3>
        </div>
        <div class="panel-body panel-widget-container">
          <posts-list items="posts" filter="{key: 'Announcement'}"></posts-list>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">News from sites</h3>
        </div>
        <div class="panel-body panel-widget-container">
          <posts-list items="posts" filter="{key: 'Announcement'}" disabled-author="true"></posts-list>
        </div>
      </div>
    </div>
  </div>
</div>