<section data-ng-controller="PostsController" data-ng-init="initUpdateForm();">
	<div class="page-header">
		<h1>{{post._id ? 'Edit' : 'Create'}} Post</h1>
	</div>
	<div class="col-md-12">
		<form name="postForm" class="form-horizontal" data-ng-submit="update(postForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && postForm.title.$invalid}">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="post.title" id="title" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && postForm.title.$invalid" class="help-block">
						<p ng-show="postForm.title.$error.required" class="text-danger">Title is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && postForm.type.$invalid}">
					<div class="row">
						<div class="col-md-6">
							<label class="control-label" for="type">Type</label>
							<div class="controls">
								<select name="type" data-ng-model="post.postType" id="type" class="form-control" cols="30" rows="10" placeholder="Type" required>
									<option value="" disabled selected>Choose type</option>
									<option ng-repeat="option in types.values">{{option}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<label class="control-label" for="authorDisplay">Display author name</label>
							<div class="controls">
								<div class="checkbox">
									<label><input type="checkbox" ng-model="post.authorDisplay" id="authorDisplay" name="authorDisplay"> {{post.authorDisplay ? 'Yes' : 'No'}}</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && postForm.content.$invalid}">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="post.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && postForm.content.$invalid" class="help-block">
						<p ng-show="postForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" ng-value="updateValue" class="btn btn-default" ng-disabled="!postForm.$valid">
					<input type="button" value="Cancel" class="btn btn-default" ng-click="onCancel()">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>