<div>
    <div class="modal-header">
        <div class="col-md-10">
            <h4 class="modal-title"><span class="glyphicon glyphicon-picture"></span> Upload Image</h4>
        </div>
        <div class="col-md-2 right">
            <a class="close" href data-ng-click="$dismiss()"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
    <div class="modal-body">
        <form class="signin form-horizontal">
            <fieldset>
                <div class="form-group text-center">
                    <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
                </div>
                <div class="text-center form-group" ng-hide="uploader.queue.length">
          <span class="btn btn-default btn-file">
              Select Image <input type="file" name="fileField" nv-file-select uploader="uploader">
          </span>
                </div>
                <div class="text-center form-group" ng-show="uploader.queue.length">
                    <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
                    <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
                </div>
                <div ng-show="success" class="text-center text-success">
                    <strong>Image uploaded successfully</strong>
                </div>
                <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer center clearfix">
        <button data-ng-click="$dismiss()" type="button" class="btn btn-default pull-right" style="margin-left: 10px">Cancel</button>
        <button type="button" data-ng-disabled="!image" class="btn btn-primary pull-right" ng-click="insert()">Insert Image</button>
    </div>
</div>