<form class="signin form-horizontal">
    <fieldset ng-if="uploader">
        <div class="form-group" ng-class="{'text-center': textCenter}">
            <label class="control-label" for="previewImage">{{imageTitle}}</label>
            <img ng-src="{{imageUrl}}" alt="{{imageAlt}}" ng-if="imageUrl" class="img-thumbnail user-profile-picture" style="display: block">
        </div>
        <div class="form-group" ng-hide="uploader.queue.length" id="previewImage" ng-class="{'text-center': textCenter}">
          <span class="btn btn-default btn-file">
              Select Image <input type="file" name="fileField" nv-file-select uploader="uploader">
          </span>
        </div>
        <div class="form-group" ng-show="uploader.queue.length" ng-class="{'text-center': textCenter}">
            <button class="btn btn-primary" ng-click="uploadProfilePicture($event);">Upload</button>
            <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
        </div>
        <div ng-show="success" class="text-success" ng-class="{'text-center': textCenter}">
            <strong>Image uploaded successfully</strong>
        </div>
        <div ng-show="error" class="text-danger" ng-class="{'text-center': textCenter}">
            <strong ng-bind="error"></strong>
        </div>
    </fieldset>
</form>