<div class="list-group widget-ann-item">
    <a data-ng-repeat="post in items| filter: {'postType': filter.key}: true" class="list-group-item" data-ng-href="posts/{{post._id}}">
        <h4 class="list-group-item-heading" data-ng-bind="post.title"></h4>
        <p class="list-group-item-text" data-ng-bind="post.content"></p>
        <small class="list-group-item-text">
            Posted on
            <span data-ng-bind="post.created | date:'mediumDate'"></span>
            <span data-ng-bind="'by ' + post.user.displayName" ng-if="post.authorDisplay"></span>
        </small>
    </a>
</div>