<section ng-controller="SettingsController">
  <div class="page-header">
    <h1>Settings</h1>
  </div>
  <div class="row">
    <div class="com-sm-3 col-md-3">
      <nav class="bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <!--<li ui-sref-active="active">
            <a ui-sref="settings.accounts">Manage Social Accounts</a>
          </li> -->
        </ul>
      </nav>
    </div>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
