html, body{
  height: 100%;
}

header .container {
  padding: 0;
}

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.news-panel {
  padding-top: 20px;
}

.body-color{
  background-color: #eee;
}

.wrapper {
  display: table;
  height: 100%;
  margin: auto;
  background-color: #fff;
}
.wrapper > .content {
  display: table-row;
  height: 100%;
}
.wrapper > .content > .container{
  padding-top: 51px;
}

.widget-ann-item {
  margin-bottom: 0 !important;
}

/*Footer*/
.main-footer > .container{
  padding: 20px;
  background-color: #000;
  color: #fff;
}
.copyright,
.footer-map {
  text-align: center;
}

.copyright {
  color: #8b8b8b;
  margin-top: 10px;
}

.footer-map-btn {
  color: white;
}

.footer-map-btn:hover {
  color: grey;
}

/*Sidebar*/
.bs-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 0;
    padding-top: 20px;
  }
}

/* First level of nav */
.bs-docs-sidenav {
  margin-top: 0;
  margin-bottom: 20px;
}

/* All levels of nav */
.bs-docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #767676;
}
.bs-docs-sidebar .nav > li > a:hover {
  padding-left: 19px;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #000;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a {
  padding-left: 18px;
  font-weight: bold;
  color: #000;
  background-color: transparent;
  border-left: 2px solid #000;
}

/* Nav: second level (shown on .active) */
.bs-docs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 13px;
  font-weight: normal;
}
.bs-docs-sidebar .nav .nav > li > a:hover {
  padding-left: 29px;
}
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a {
  padding-left: 28px;
  font-weight: 500;
}

.bs-docs-sidebar .nav > .active > ul {
  display: block;
}

/*Widgets*/
.panel-widget-container {
  padding: 0;
}

/*Nav*/
.nav-tabs > li.active > a {
  color: black;
}

.nav-tabs > li > a {
  color: #555355;
}

/*Links*/
.link {
  color: black;
  font-weight: bolder;
}

.nav-icon-btn {
  margin-right: 2px;
}

/*Search*/
.search {
  margin-top: 7px;
  width: 30%;
  /*-webkit-transition: width 1s ease-in-out;
  -moz-transition:width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;*/
  float:right;
}

/*
.search:focus {
  width: 30%;
  z-index: 100;
}
*/

.main-btn {
  /*display: inline-block;
  width: 50px;*/
  margin: 12px;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.btn-container {
  text-align: justify;
  margin-left: 12px;
}

.btn-container > div {
  margin-top: 16px;
  width: 70px;
  height: 70px;
  display: inline-block;
  *display: inline;
  zoom: 1
}

/* navbar 2 */
.navbar-subdomain {
  margin-left: -15px;
  margin-right: -15px;
}