html, body{
  height: 100%;
}

header .container {
  padding: 0;
}

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.news-panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

.news-panel-item {
  margin-bottom: 5px;
}

.body-color{
  background-color: #eee;
}

.wrapper {
  display: table;
  height: 100%;
  margin: auto;
  background-color: #fff;
}
.wrapper > .content {
  display: table-row;
  height: 100%;
}
.wrapper > .content > .container{
  padding-top: 51px;
}

.widget-ann-item {
  margin-bottom: 0 !important;
}

/*Footer*/
.main-footer > .container{
  padding: 20px;
  background-color: #000;
  color: #fff;
}
.copyright,
.footer-map {
  text-align: center;
}

.copyright {
  color: #8b8b8b;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .main-footer > .container {
    padding: 5px 20px;
  }
}

.footer-map-btn {
  color: white;
}

.footer-map-btn:hover {
  color: grey;
}

/*Sidebar*/
.bs-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 0;
    padding-top: 20px;
  }
}

/* First level of nav */
.bs-docs-sidenav {
  margin-top: 0;
  margin-bottom: 20px;
}

/* All levels of nav */
.bs-docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #767676;
}
.bs-docs-sidebar .nav > li > a:hover {
  padding-left: 19px;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #000;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a {
  padding-left: 18px;
  font-weight: bold;
  color: #000;
  background-color: transparent;
  border-left: 2px solid #000;
}

/* Nav: second level (shown on .active) */
.bs-docs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 13px;
  font-weight: normal;
}
.bs-docs-sidebar .nav .nav > li > a:hover {
  padding-left: 29px;
}
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a {
  padding-left: 28px;
  font-weight: 500;
}

.bs-docs-sidebar .nav > .active > ul {
  display: block;
}

/*Widgets*/
.panel-widget-container {
  padding: 0;
}

/*Nav*/
.nav-tabs > li.active > a {
  color: black;
}

.nav-tabs > li > a {
  color: #555355;
}

/*Links*/
.link {
  color: black;
  font-weight: bolder;
}

.nav-icon-btn {
  margin-right: 2px;
}

/*Search*/
.search {
  margin-top: 7px;
  width: 30%;
  /*-webkit-transition: width 1s ease-in-out;
  -moz-transition:width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;*/
  float:right;
}

/*
.search:focus {
  width: 30%;
  z-index: 100;
}
*/

/* Logo bar */

/* Control panel bar*/
.panel-control-buttons {
  padding-left: 8px;
  text-align: center;
  margin-top: 10px;
}

.control-btn-block {
  display: inline-block;
}

.control-btn {
  margin: 15px;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

@media (max-width: 768px) {
  .control-btn {
    margin: 3px;
  }

  .logo-img {
    height: 80px;
  }
}

@media (min-width: 990px) {
  .control-btn {
    margin: 5px;
  }
}

@media (min-width: 768px) {
  .control-btn-block {
    margin-right: 5px;
  }
}

.control-btn-text {
  text-align: center;
}

/* navbar subdomain */
.navbar-subdomain {
  margin-left: -15px;
  margin-right: -15px;
}

.navbar.navbar-inverse.navbar-subdomain.affix {
  position: fixed;
  top: 51px;
  z-index: 9999;
}

.navbar-subdomain-container {
  height: 50px;
}

.subdomain-collapse > .navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 28px;
}

.navbar-subdomain-container > .navbar {
  min-height:28px !important;
}

.main-header {
  margin-bottom: 10px !important;
}

/* Account menu */
.header-menu {
  width: 300px;
}

.header-menu-text {
  color: black;
}
.header-menu-text:hover {
  color:dimgray;
  text-decoration: none;
}

.header-menu-image {
  width:100px;
  height: 100px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  float: left;
}

.header-menu-name {
  font-size: 16px;
}
.header-menu-left {
  padding-left: 15px;
}
.header-menu-right {
  float: right;
}
.header-menu-top {
  padding-top: 10px;
}
.header-menu-actions {
  padding: 2px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Tabs & Panel styles */
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #000 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #000; height: 2px; position: absolute; width: 100%; left: 0; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0 0; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0 0; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 10px; }
